services:
  lss_daily_discord_overview:
    image: ghcr.io/thescriptlist/lss_daily_discord_overview:latest
    container_name: lss_daily_discord_overview
    environment:
      - "APPRISE_URL=discord://<BOT-NAME>@<WebhookID>/<WebhookToken>/?avatar_url=https://www.leitstellenspiel.de/images/logo-header.png"
      - "SEND_ALWAYS=False"
    volumes:
      - ./cookies.txt:/app/cookies.txt:ro