name: Build Executable

on:
  push:
    branches:
      - "**"
    tags:
      - "v*.*.*"
  pull_request:
  workflow_dispatch:

permissions:
  contents: write
  actions: write

env:
  PROJECT_NAME: lss_daily_discord_overview
  BUILD_ARGS: -F --collect-all apprise --hidden-import inquirer --hidden-import readchar --copy-metadata readchar

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check-out repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Define Build Name
        shell: python
        run: |
          from os import getenv

          project_name = getenv("PROJECT_NAME")
          ref_name = getenv("GITHUB_REF_NAME").replace("/", "-")
          ref_type = getenv("GITHUB_REF_TYPE")
          sha = getenv("GITHUB_SHA")[:7]
          os_name = getenv("RUNNER_OS").lower()
          arch = getenv("RUNNER_ARCH").lower()

          sha_suffix = f"-{sha}" if ref_type != "tag" else ""
          build_name = f"{project_name}-{ref_name}{sha_suffix}_{os_name}_{arch}"

          with open(getenv("GITHUB_ENV"), "a") as env_file:
            env_file.write(f"BUILD_NAME={build_name}\n")

      - name: Build Executable
        run: |
          uv run pyinstaller ${{ env.BUILD_ARGS }} -n "${{ env.BUILD_NAME }}" "${{ env.PROJECT_NAME }}.py"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }} ${{ runner.arch }} Build
          path: dist/*

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          draft: true
          generate_release_notes: true
          files: dist/*
